/* general */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00A7E8;
  background-image: url(./../assets/background/triangle-background.svg);
}

h1 {
  font-size: 4rem;
  font-family: 'Luckiest Guy';
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px -2px 0 #444444,
    0px -2px 0 #444444,
    0px 2px 0 #444444,
    0px 2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    -2px -2px 0 #444444,
    2px -2px 0 #444444,
    -2px 2px 0 #444444,
    2px 2px 0 #444444,
    -2px 5px 0 #444444,
    0px 5px 0 #444444,
    2px 5px 0 #444444;
}
