.btn {
  background-image: url(../assets/bg/BUTTONS/NotSelected.png);
  background-position: 0px;
  width: 62px;
  height: 65px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.btn.middle-btn {
  background-position: -84px 0px;
}

.btn.right-btn {
  background-position: -167px 0px;
}

.btn:hover,
.btn:focus {
  background-image: url(../assets/bg/BUTTONS/Hover.png);
}

.btn:active {
  background-image: url(../assets/bg/BUTTONS/Selected.png);
}

.icon {
  background-image: url(../assets/bg/ICONS/NotSelected.png);
  background-position: 0px;
  width: 56px;
  height: 65px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;
}

.icon.poop-icon {
  background-position: -162px 0px;
}

.icon.weather-icon {
  background-position: -323px 0px;
}

.icon.highlighted {
  background-image: url(../assets/bg/ICONS/Hover.png);
}

.icon.active {
  background-image: url(../assets/bg/ICONS/Selected.png);
}

.fox-static {
  background-image: url(../assets/pet/FoxBase.png);
  width: 117px;
  height: 165px;
}

.fox-idling {
  background-image: url(../assets/pet/AtRest.png);
  background-repeat: no-repeat;
  width: 117px;
  height: 165px;
  animation: idle 2s steps(3) infinite;
}

@keyframes idle {
  to {
    background-position: -372px;
  }
}

.fox.fox-pooping {
  background-image: url(../assets/pet/Pooping.png);
  background-position: -1836px;
  background-repeat: no-repeat;
  width: 204px;
  height: 202px;
  animation: pooping 5s steps(10);
}

.fox.fox-pooped {
  background-image: url(../assets/pet/Pooping.png);
  background-position: -1836px;
  background-repeat: no-repeat;
  width: 204px;
  height: 202px;
}

@keyframes pooping {
  from {
    background-position: 0;
  }

  to {
    background-position: -2040px;
  }
}

.fox-celebrate.fox {
  background-image: url(../assets/pet/Yay.png);
  background-repeat: no-repeat;
  width: 130.8px;
  height: 213px;
  animation: celebrate 2s steps(5) infinite;
}

@keyframes celebrate {
  to {
    background-position: -654px;
  }
}

.fox-rain.fox {
  background-image: url(../assets/pet/Rain.png);
  background-repeat: no-repeat;
  width: 134px;
  height: 153px;
  animation: sit-in-the-rain 2s steps(5) infinite alternate;
}

@keyframes sit-in-the-rain {
  to {
    background-position: -670px;
  }
}

.fox-hungry.fox {
  background-image: url(../assets/pet/Hungry.png);
  background-repeat: no-repeat;
  width: 130px;
  height: 160px;
  top: 339px;
  animation: hungry 1s steps(2) infinite;
}

@keyframes hungry {
  to {
    background-position: -260px;
  }
}

.fox-eating.fox {
  background-image: url(../assets/pet/Eating.png);
  background-position: -1865.7px;
  background-repeat: no-repeat;
  width: 207.3px;
  height: 148px;
  top: 358px;
  left: 81px;
  animation: eating 3s steps(10);
}

@keyframes eating {
  from {
    background-position: 0;
  }

  to {
    background-position: -2073px;
  }
}

.fox-egg.fox {
  background-image: url(../assets/pet/Egg.png);
  background-repeat: no-repeat;
  background-position: -1050px;
  width: 175px;
  height: 217px;
  animation: hatching 4s steps(7);
}

@keyframes hatching {
  from {
    background-position: 0;
  }

  to {
    background-position: -1225px;
  }
}

.fox-dead.fox {
  background-image: url(../assets/pet/TombStone.png);
  background-repeat: no-repeat;
  width: 118px;
  height: 119px;
  animation: being-dead 1s steps(3) infinite;
}

@keyframes being-dead {
  to {
    background-position: -354px;
  }
}

.fox-sleep.fox {
  background-image: url(../assets/pet/Sleeping.png);
  background-repeat: no-repeat;
  width: 250px;
  height: 155px;
  animation: sleeping 4s steps(4) infinite;
}

@keyframes sleeping {
  to {
    background-position: -1000px;
  }
}

.foreground-rain {
  display: none;
  background-image: url(./../assets/bg/rain.png);
  animation: raining 0.5s steps(3) infinite;
  width: 606px;
  height: 516px;
  overflow: hidden;
  position: absolute;
  top: 56px;
  left: 60px;
}

.rain~.foreground-rain {
  display: block;
}

@keyframes raining {
  to {
    background-position: -1818px;
  }
}

.poop-bag {
  background-image: url(../assets/pet/PoopBag.png);
  animation: swing-poop-bag 1s steps(3) infinite alternate;
  width: 99px;
  height: 104px;
  overflow: hidden;
}

@keyframes swing-poop-bag {
  to {
    background-position: -297px;
  }
}

.frame {
  background-image: url(./../assets/bg/FRAME.png);
}

.game {
  background-image: url(./../assets/bg/DAY.png);
}

.game.night {
  background-image: url(./../assets/bg/NIGHT.png);
}

.game.dead {
  background-image: url(./../assets/bg/DEAD.png);
}

.game.rain {
  background-image: url(./../assets/bg/RAINY.png);
}

body {
  background-color: #00A7E8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
