@snail-width: 110.69px;

.snail {
  width: @snail-width;
  height: @snail-width * 0.8581;
  position: relative;
  top: 198px;
  z-index: 1;

  background-image: url(../assets/snail/sliding-sprite.png);
  background-position: 0;
  background-repeat: no-repeat;
  animation: spriteAnimationWalking 2s steps(33) infinite, movingAnimation 70s linear infinite;
  animation-play-state: running;

  &.crying {
    background-image: url(../assets/snail/crying-sprite.png);
    animation: spriteAnimationCrying 2s steps(6) infinite, movingAnimation 70s linear infinite;
    animation-play-state: running, paused;
  }

  &.hungry {
    background-image: url("../assets/snail/hungry-sprite.png");
    animation: spriteAnimationHungry 2s steps(17) infinite, movingAnimation 70s linear infinite;
    animation-play-state: running, paused;
  }

  &.eating {
    background-image: url("../assets/snail/eating-sprite.png");
    animation: spriteAnimationEating 2s steps(12) infinite, movingAnimation 70s linear infinite;
    animation-play-state: running, paused;
  }

  &.celebrate {
    background-image: url("../assets/snail/celebrate-sprite.png");
    animation: spriteAnimationCelebrating 2s steps(4) infinite, movingAnimation 70s linear infinite;
    animation-play-state: running, paused;
  }

  &.celebrate {
    background-image: url("../assets/snail/celebrate-sprite.png");
    animation: spriteAnimationCelebrating 2s steps(4) infinite, movingAnimation 70s linear infinite;
    animation-play-state: running, paused;
  }

  &.pooping {
    width: 442px / 4;
    height: 74px;
    top: 218px;
    background-image: url("../assets/snail/pooping-sprite.png");
    animation: spriteAnimationPooping 2s steps(4) infinite, movingAnimation 70s linear infinite;
    animation-play-state: running, paused;
  }
}

@keyframes spriteAnimationPooping {
  from {
    background-position: 0;
  }

  to {
    background-position: -442px;
  }
}

@keyframes spriteAnimationCelebrating {
  from {
    background-position: 0;
  }

  to {
    background-position: -549px;
  }
}

@keyframes spriteAnimationEating {
  from {
    background-position: 0;
  }

  to {
    background-position: -1316px;
  }
}

@keyframes spriteAnimationHungry {
  from {
    background-position: 0;
  }

  to {
    background-position: -1864px;
  }
}

@keyframes spriteAnimationWalking {
  from {
    background-position: 0;
  }

  to {
    background-position: -3653px;
  }
}

@keyframes spriteAnimationCrying {
  from {
    background-position: 0;
  }

  to {
    background-position: -681px;
  }
}

@keyframes movingAnimation {
  0% {
    left: 5%;
    transform: scaleX(1);
  }

  49.9% {
    left: 75%;
    transform: scaleX(1);
  }

  50% {
    left: 75%;
    transform: scaleX(-1);
  }

  100% {
    left: 5%;
    transform: scaleX(-1);
  }
}
